
body{ 
    background-image: url(images/fresno-1932212_640.jpg)
     

}

h1{ font-size: 80px;


}
/* button{
    border-radius: 15px;
    color:#0B15EB;
    background:#C5E8BE;
    font-size: 28px;
    
} */

.a{
    color: hotpink;
    background-color:black;
    padding: 20px;
    border-radius: 12px;
  }

  .b{
    color: hotpink;
    background-color:black;
    padding: 20px;
    border-radius: 12px;
  }

  .c{
    color: hotpink;
    background-color:black;
    padding: 20px;
    border-radius: 12px;
  }
  
  
.voice{
    font-family: 'Lacquer', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    
    color: #FED1FF;
}

    
h3
{
    font-size: 44px;
    color: #C5E8BE;

}
.myfig1{
    /* width: 100px; */
    /* height: 100px; */

    /* width: 200px;
    height: 400px; */

}
/* .pic1{
    width: 400px;
    height: 400px;
    background-color: gray;
    margin: 24px;
    float: right;
} */
.write
{
 font-family: 'Pompiere', cursive;
  font-size: 24px;
  font-weight: bolder;
}
h3{
    font-size: 60px;
    color:  #0B15EB;
    text-transform: uppercase;
}
h5{
    font-size: 40px;
    font-style: italic;
}
.myfig{
    float: right;
    margin: 16px;
    
}
.write{
    float: right;
    clear: both;
}
.say{
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    color: #0B15EB;
}
.bars{
    font-size: 40px;
    font-style: italic;
    color:#0B15EB;
}
.h4{
    border: radius 12px;
}
.butt1 {border-radius: 2px;}
/* .button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;} */
/* .button2{
    color: blue;
    
    
} */
.hello{
   font-size: 50px;
}
.myfoot{
    border-radius: 25px;
    font-size: 30px;
    font-style: italic;
    background: grey;
    color: white;
}

#rcorners1 {
    border-radius: 25px;
    background:yellowgreen;
    padding: 25px; 
    width: 100px;
    height: 50px;  
    font-size: 30px;
    color:black;
  }

  #rcorners2 {
    border-radius: 25px;
    background:yellowgreen;
    padding: 25px; 
    width: 100px;
    height: 50px;  
    font-size: 30px;
    color:black;
  }
  #rcorners3{
    border-radius: 25px;
    background:yellowgreen;
    padding: 25px; 
    width: 100px;
    height: 50px;  
    font-size: 30px;
    color:black;
  }

  